
@font-face {
    font-family: "Arial-Bold";
    src: url("../assets/fonts/arialBold/Arial-BoldMT.eot");
    src: url("../assets/fonts/arialBold/Arial-BoldMT.eot") format("embedded-opentype"),
    url("../assets/fonts/arialBold/Arial-BoldMT.woff") format("woff"),
    url("../assets/fonts/arialBold/Arial-BoldMT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyriadPro-Bold";
    src: url("../assets/fonts/myriadProBold/myriadpro-bold.eot"); 
    src: url("../assets/fonts/myriadProBold/myriadpro-bold.eot") format('embedded-opentype'), 
        url("../assets/fonts/myriadProBold/myriadpro-bold.woff2") format('woff2'), 
        url("../assets/fonts/myriadProBold/myriadpro-bold.woff") format('woff'), 
        url("../assets/fonts/myriadProBold/myriadpro-bold.ttf") format('truetype'), 
        url("../assets/fonts/myriadProBold/myriadpro-bold.svg") format('svg'); 
}
.grid {
    display: grid;
    grid-template: 50px 50px / 20px 20px;
    gap: 15px;

}
div {    
    font-family:"MyriadPro-Bold";
}
.picture { 
    width: 500px ;
    height: 500px;
    background-image: url("../assets/img/picture.jpg");
    background-size: 200px 300px;
} 